.Section {
    background-color: #fff;
    border-radius: 16px;
    min-width: 100px;
    margin: 0 auto;

    .Info {
        padding: 10px 80px 20px 80px;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                background: #4cb4c0;
                border-radius: 40px;
                padding: 10px 25px;
                color: #ffffff;
                border: none;
            }
        }

        input {
            border: 2px solid #e0e0e0;
            background: #ffffff;
            width: 300px;
            height: 40px;
            padding: 0 20px 0 20px;
            border-radius: 17.5px;
            margin-bottom: 20px;
        }
        h3 {
            color: #404041;
            font-weight: 700;
            font-size: 18px;
        }
    }
}

.Btns {
    margin: 20px 0 20px 40px;
    button {
        width: 100px;
        height: 35px;
        background: #2b6b73;
        border-radius: 25px;
        color: #ffffff;
        outline: none;
        border: none;
        margin-right: 30px;

        &.active {
            background: #9e9e9e;
        }
    }
}

@media screen and (max-width: 1050px) {
    .Section {
        .Info {
            padding: 10px 50px 20px 50px;

            nav {
                h1 {
                    font-size: 22px;
                }
                button {
                    padding: 8px 15px;
                }
            }

            input {
                width: 250px;
                height: 35px;
                padding: 0 20px 0 20px;
                margin: 10px 0 20px 0;
            }
            h3 {
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .Section {
        .Info {
            nav {
                display: block;
            }

            button{
                margin-bottom: 10px;
            }
        }
    }
}
