.Wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0px 80px 20px 80px;
    cursor: pointer;
    border-top: 1px solid #333;

    .Fsec{
        display: flex;
        align-items: center;

        .Img{
            margin: 0 30px 0 20px;
        }

        .Info{
            max-width: 80%;

            .Headers{
                h3{

                }
                h4{
                    a{
                        color: #2b6b73;
                    }
                }
                
            }
        }

        .Loc{
            display: flex;
            align-items: center;

            .Tag{
                background: #C8E6E8;
                border-radius: 36px;
                width: 70px;
                height: 30px;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #2B6B73;
                margin-left: 40px;
            }
        }
    }
    .Ssec{
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        justify-content: space-between;

        .Status{
            display: flex;
            align-items: center;

            svg{
                margin: 0 10px 0 20px;
                font-size: 20px;
            }

        }

        .Dropdown{
            svg{
                font-size: 20px;
                height: 2em;
                width: 2em;
            }
        }
    }
}

.AddInfo{
    margin: 0 80px 0 80px;
    border-top: 1px solid #333;
    position: relative;
    padding: 20px;
    background-color: #F0F0F0;

    p{
        font-weight: 700;
        margin-left: 20px;
    }

    button{
       position: absolute;
       right: 10px;
       bottom: 20px;
       padding: 8px 25px;
       border-radius: 40px;
       border: 2px solid #C8E6E8;
       transition: all 0.3s;
       cursor: pointer;
       background-color: #fff;

       &:hover{
           background-color: #C8E6E8;
       }

       &:active{
           transform: scale(0.95);
       }
    }

}   