.List{

    .Wrapper{
        margin: 0px 80px 0 80px;
        padding: 30px 0 30px 0;
        cursor: pointer;
        border-top: 1px solid #333;
        

        .Sec1{
            display: flex;
            justify-content: space-between;
            position: relative;

            .Headers{
                h1{
                    font-weight: 700;
                    font-size: 18px;
                    color: #333333;
                    margin-bottom: 5px;
                }

                a{
                    text-decoration: underline;
                    color: #2B6B73;
                    font-style: italic;
                    font-weight: 400;
                    font-size: 16px;
                }

                p{

                }
            }

            svg{
                position: absolute;
                width: 30px;
                height: 30px;
                color: #9E9E9E;
                right: 0;
            }
        }

        .Sec2{
            display: flex;
            justify-content: space-between;

            .Info{
                display: flex;
                justify-content: space-between;

                .Location{
                    margin-right: 250px;
                    display: flex;
                    align-items: center;
            
                    color: #404041;
                    font-size: 16px;
                    margin-bottom: 15px;
            
                    svg{
                        width: 16px;
                        height: 20px;
                    }
                }

                .Tags{
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    
                    .Tag{
                        background: #C8E6E8;
                        border-radius: 15px;
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #2B6B73;
                        text-align: center;
                        padding: 10px 15px;
                        margin: 0 10px 10px 0;
                    }
                }
            }

            svg{
                height: 30px;
                width: 30px;
            }
        }

        .Info{
            display: flex;
            justify-content: space-between;

            .Elig{
                width: 50%;
                h1{
                    font-size: 16px;
                    font-weight: 700;
                }

                p{
                    
                }
            }
    
            .OInfo{
                width: 50%;
                
                ul{
                    width: 100%;
                    list-style: none;

                    li{
                        font-weight: 700;
                        width: 100%;
                        display: flex;
                        margin-bottom: 20px;
                        border-bottom: 2px solid rgb(224, 224, 224);

                        p{
                            margin: 0;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .WBtn{
            background-color: #2b6b73;
            padding: 8px 25px;
            border-radius: 20px;
            color: #fff;
            border: 0;
        }
    }   
}