@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F0F0F0;

  button{
    font-family: 'Lato', sans-serif;
  }
}

.leaflet-container {
  width: 100%;
  height: 85vh;
}

.leaflet-popup-tip-container{
  display: none;
}

.leaflet-popup-close-button{
  display: none;
}

.leaflet-control-attribution{
  display: none;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
