.Btns{
    margin: 20px 0 20px 100px;
    button{
        width: 100px;
        height: 35px;
        background: #2B6B73;
        border-radius: 25px;
        color: #FFFFFF;
        outline: none;
        border: none;
        margin-right: 30px;

        &.active{
            background: #9E9E9E;
        }
    }
}